<a href="https://colab.research.google.com/github/gutamgiridharreddy/2303A51285_B19/blob/main/lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#detecting missing values
import pandas as pd
import numpy as np
data = {
    "Name": ["manohar", "giri", "Priya", "Anjali", "Kiran"],
    "Age": [20, np.nan, 22, 21, np.nan],
    "Marks": [85, 90, np.nan, 76, 88]
}
df=pd.DataFrame(data)
print(df)
print(df.isnull())
df['Age']=df['Age'].fillna(df['Age'].mean())
print(df['Age'])
df_fill=df.fillna(0)
print("\nDataFrame after filling missing values with 0:")
print(df_fill)

df_dropped=df.dropna()
print("\nDataFrame after dropping rows with missing values:")
print(df_dropped)

      Name   Age  Marks
0  manohar  20.0   85.0
1     giri   NaN   90.0
2    Priya  22.0    NaN
3   Anjali  21.0   76.0
4    Kiran   NaN   88.0
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False
4  False   True  False
0    20.0
1    21.0
2    22.0
3    21.0
4    21.0
Name: Age, dtype: float64

DataFrame after filling missing values with 0:
      Name   Age  Marks
0  manohar  20.0   85.0
1     giri  21.0   90.0
2    Priya  22.0    0.0
3   Anjali  21.0   76.0
4    Kiran  21.0   88.0

DataFrame after dropping rows with missing values:
      Name   Age  Marks
0  manohar  20.0   85.0
1     giri  21.0   90.0
3   Anjali  21.0   76.0
4    Kiran  21.0   88.0

In [2]:
import numpy as np
import pandas as pd
data={
    'ID':['1','2','3','4','5','6'],
    'Name':['Manohar','Ravi','Priya','Anjali','Kiran','Ravi'],
    'Marks':[90,91,92,93,94,95]
}
df=pd.DataFrame(data)
print(df)
#remove duplicate data
df_no_duplicates=df.drop_duplicates('ID')
print("\nDataFrame after removing duplicates:")
print(df_no_duplicates)
df['ID']=pd.to_numeric(df['ID'])
print(df)
print(df.dtypes)
df['marks_normalization']=(df['Marks']-df['Marks'].min()/df['Marks'].max()-df['Marks'].min())
print(df)

  ID     Name  Marks
0  1  Manohar     90
1  2     Ravi     91
2  3    Priya     92
3  4   Anjali     93
4  5    Kiran     94
5  6     Ravi     95

DataFrame after removing duplicates:
  ID     Name  Marks
0  1  Manohar     90
1  2     Ravi     91
2  3    Priya     92
3  4   Anjali     93
4  5    Kiran     94
5  6     Ravi     95
   ID     Name  Marks
0   1  Manohar     90
1   2     Ravi     91
2   3    Priya     92
3   4   Anjali     93
4   5    Kiran     94
5   6     Ravi     95
ID        int64
Name     object
Marks     int64
dtype: object
   ID     Name  Marks  marks_normalization
0   1  Manohar     90            -0.947368
1   2     Ravi     91             0.052632
2   3    Priya     92             1.052632
3   4   Anjali     93             2.052632
4   5    Kiran     94             3.052632
5   6     Ravi     95             4.052632

In [3]:
import pandas as pd
data={
    'ID':['1','2','3','4'],
    'Name':['Manohar','Ravi','Priya','Anjali'],
}
marks={
    'ID':['1','2','3','4','5','6'],
    'Marks':[90,91,92,93,94,95]
}
data_df = pd.DataFrame(data)
marks_df = pd.DataFrame(marks)
merged=pd.merge(data_df,marks_df,on='ID',how='outer')
print(merged)
right=pd.merge(data_df,marks_df,on='ID',how='inner')
print(right)
left=pd.merge(data_df,marks_df,on='ID',how='left')
print(left)
right=pd.merge(data_df,marks_df,on='ID',how='right')
print(right)
#joins
join_df=data_df.join(marks_df.set_index('ID'), on='ID',how='outer')
print(join_df)

  ID     Name  Marks
0  1  Manohar     90
1  2     Ravi     91
2  3    Priya     92
3  4   Anjali     93
4  5      NaN     94
5  6      NaN     95
  ID     Name  Marks
0  1  Manohar     90
1  2     Ravi     91
2  3    Priya     92
3  4   Anjali     93
  ID     Name  Marks
0  1  Manohar     90
1  2     Ravi     91
2  3    Priya     92
3  4   Anjali     93
  ID     Name  Marks
0  1  Manohar     90
1  2     Ravi     91
2  3    Priya     92
3  4   Anjali     93
4  5      NaN     94
5  6      NaN     95
    ID     Name  Marks
0.0  1  Manohar     90
1.0  2     Ravi     91
2.0  3    Priya     92
3.0  4   Anjali     93
NaN  5      NaN     94
NaN  6      NaN     95

In [4]:
import pandas as pd
data = {'PatientID': range(1, 11), 'Age': [25, 34, -5, 67, 145, 56, 89, 120, 130, 40]}
df = pd.DataFrame(data)
print("Before Cleaning:")
print(df)
df_cleaned = df[(df['Age'] >= 0) & (df['Age'] <= 120)]
print("\nAfter Cleaning:")
print(df_cleaned)

Before Cleaning:
   PatientID  Age
0          1   25
1          2   34
2          3   -5
3          4   67
4          5  145
5          6   56
6          7   89
7          8  120
8          9  130
9         10   40

After Cleaning:
   PatientID  Age
0          1   25
1          2   34
3          4   67
5          6   56
6          7   89
7          8  120
9         10   40

In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler
data = {'CustomerID': range(1, 6), 'Income': [25000, 50000, 75000, 100000, 150000]}
df = pd.DataFrame(data)
print("Original Data:")
print(df)
scaler = MinMaxScaler()
df['Income_MinMax'] = scaler.fit_transform(df[['Income']])
scaler = StandardScaler()
df['Income_Standardized'] = scaler.fit_transform(df[['Income']])
print("\nScaled Data:")
print(df)

Original Data:
   CustomerID  Income
0           1   25000
1           2   50000
2           3   75000
3           4  100000
4           5  150000

Scaled Data:
   CustomerID  Income  Income_MinMax  Income_Standardized
0           1   25000            0.0            -1.278724
1           2   50000            0.2            -0.697486
2           3   75000            0.4            -0.116248
3           4  100000            0.6             0.464991
4           5  150000            1.0             1.627467